/* Your styles here ... */

/* Eric Meyer CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* styling code starts here */
/* style code originally from index.html */

body {
  margin: 0;
  padding: 0;
  background: url(../assets/community-members-background.jpg)
            no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.navigation {
  font-family: sans-serif;
  font-size: 0.8em;
  background-color: white;
  height: 4em;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  color:            black;
  }
.navigation a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  color:            black;
  }

.banner {
  text-align: center;
  color: white;
}

h1 {
  font-size: 56px;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  text-align: center;
}

#n-primary li {
  display: inline-block;
  text-align: center;
  margin: 1em;
  padding: 0 1em;
}

#n-primary #search {
  display: inline-block;
  margin-left: 10em;
  margin-top: 0.5em;
  border-style: solid black 2px;
}

#n-primary #search input {
  border-radius: 30px;
  width: 200px;
  height: 25px;
  padding: 0.3em;
}


a{
  color:#000;
}



#content{
    position: relative;

  width: 100%;
  min-height: 2000px;
  margin: 0 auto;
  margin-top: 20em;
  background-color: white;
}

#members {
  margin: 0 auto;
  max-height: 2200px;
}

#members div {
  margin: 0 auto;
}

#members .row {
  margin: 0 1em;
  display: inline-block;
  width: 15%;
  max-height: 100px;
}

#members .col .s12 .m7 {
  margin: 0;
  margin-left: 2em;
}

#members img {
  max-width: 150px;
  max-height: 150px;
}


.footer {
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
/*  z-index: 10;
*/  height: 10em;
  margin: 0;
  background: #000;
  color: #FFF;
  text-align: left;
  background-color: black;
}

.footer p {
  font-size: 0.7em;
  margin-left: 30em;
  margin-top: 3.8em;
}